<!-- titre -->
<h1>Angular Morpion</h1>


<hr>
<p class="displayPlayer">{{displayPlayer}} <span class="occupee" *ngIf="isError">{{displayError}}</span>   </p>

<!-- <p class="occupee" *ngIf="isError" >{{displayError}} </p> -->

<!-- mise en place du game board -->
<div class="container">       
    <div class="game-board">

        <input class="square" *ngFor="let val of squares; let i = index"
          [value]="val" 
          [ngClass]="{player1: val === 'X', player2: val ==='O' }"        
          (click)="onClick(i)" >
        
    </div>
</div>


<button class="btnJouer" *ngIf="isPlay" (click)="onStart()" >jouer</button>
<button class="btnJouer" *ngIf="isReplay" (click)="onStart()" >Recommencer</button>



<!-- ne pas effacer -->
